/*
Thuộc tính transition: Delay quá trình chuyển động của các thuộc tính css, nhằm tạo ra các hiệu ứng
Lưu ý: Chỉ áp dụng với các thuộc tính có giá trị là số
- transition-property: all|ten-thuoc-tinh-css ==> Chọn thuộc tính có transition
- transition-duration: value + unit (s,ms) ==> Thiết lập thời gian hoàn thành chuyển động
- transition-delay: Thời gian trễ trước khi hiệu ứng chuyển động
- transition-timing-function: Thiết lập tốc độ di chuyển
+ ease ==> Chậm - Nhanh - Chậm
+ ease-in ==> Chậm - Nhanh
+ ease-out ==> Nhanh - Chậm
+ ease-in-out ==> Chậm - Nhanh - Chậm
+ linear ==> Chuyển động đều
+ cubic-bezier(p1, p2, p3, p4) ==> Tự thiết lập tốc độ dựa vào đường cong bezier
- transition: property duration delay timing-function
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  border: 1px solid red;
  height: 300px;
}
.box h2 {
  /* transition-property: padding-left;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.06, 1.29, 0.8, 0.54); */
  /* transition-delay: 1s; */
  transition: padding-left 1s linear, background 1s linear;
  /* transition-property: padding-left, background; */
}
.box:hover h2 {
  padding-left: 100px;
  background: red;
}
